{% extends 'base_crm.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
   <div class="row">
        <div class="col-9">
            <form action="/products/search" method="post">
                <input type="text" name="productName" id="productName">   
                <input type="submit" value="Search">
            </form>
        <hr class="solid">
        <div class="mt-3">
            {% for product in products %}
            <div class="my-hover">
                <a href="{{ path('products_view', { id: product.id }) }}">
                    <h4>{{ product.name }}</h4> 
                </a>
            </div>
            {% endfor %}
            <div class="mt-4">
                Found {{ products|length }} results
            </div>
        </div>
        </div>
        <div class="col-3">
            <a class="btn btn-success" href="{{ path('add_product') }}">
                <i class="fas fa-user pr-1"></i> Add new</a>
        </div>
   </div>
   <style>
    .my-hover:hover {
        background: rgba(211,211,211, 0.3);
        }
    .my-hover a:hover {
        color: black;
        }
   </style>
{% endblock %}