{% extends 'base.html.twig' %}

{% block title %}Add a new client{% endblock %}

{% block body %}
{% include 'sidebar.html.twig' %}

<div class="col-md-9 col-xl-8">

    {{ form(form) }}

</div>
{% endblock %}
