{% extends 'base_crm.html.twig' %}

{% block title %}Clients{% endblock %}

{% block body %}
   <div class="row">
        <div class="col-9">
            {% for client in clients %}
                <a href="{{ path('clients_view', { id: client.id }) }}">
                    <h4>{{ client.name }}</h4> 
                </a>
            {% endfor %}
        </div>
        <div class="col-3">
            <a class="btn btn-success" href="{{ path('add_client') }}">
                <i class="fas fa-user pr-1"></i> Add new</a>
        </div>
   </div>
{% endblock %}
