<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}CRM{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('main') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('main') }}
        {% endblock %}
        <style>
        
            .header {
            padding-top: 5px;
            text-align: center;
            background: darkblue;
            color: white;
            font-size: 30px;
            } 
        </style>
    </head>
    <body class="">
     <div class="header">
        <h1>Viko CRM</h1>
    </div> 
        <div class="row">
            {% include 'sidebar.html.twig' %}

        <div class="col-md-9 col-xl-10">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
