<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}CRM{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('main') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('main') }}
        {% endblock %}
    </head>
    <body class="container-fluid m-2">
        <div class="row">
            {% include 'sidebar.html.twig' %}

        <div class="col-md-9 col-xl-10">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
