<aside class="col-md-3 col-xl-2 border-end border-2">
    <nav>
        <ul>
            <li>
                <a href="{{ path('clients') }}">
                    Clients
                </a>
            </li>
            <li>
                <a href="{{ path('orders') }}">
                    Orders
                </a>
            </li>
            <li>
                <a href="{{ path('products') }}">
                    Products
                </a>
            </li>
            <li class="mt-5">
                <a href="{{ path('app_logout') }}">
                    Logout
                </a>              
            </li>
        </ul>
    </nav>
</aside>