{% extends 'base.html.twig' %}

{% block title %}CRM Dashboard{% endblock %}

{% block body %}
{% include 'sidebar.html.twig' %}

<div class="col-md-9 col-xl-8">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/liudas/Documents/Symfony/crm_project/src/Controller/DashboardController.php'|file_link(0) }}">src/Controller/DashboardController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/liudas/Documents/Symfony/crm_project/templates/dashboard/index.html.twig'|file_link(0) }}">templates/dashboard/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
