{% extends 'base_crm.html.twig' %}

{% block title %}Orders{% endblock %}

{% block body %}
   <div class="row">
        <div class="col-9">
            {% for order in orders %}
                <a href="{{ path('orders_view', { id: order.id }) }}">
                    <h4>{{ order.id }} {{ order.client }}</h4> 
                </a>
            {% endfor %}
        </div>
        <div class="col-3">
           
        </div>
   </div>
{% endblock %}